<div class = "body">
    <div class="tieude">
        <img src="assets\images\banner.png">
    </div>
    <div class="row menu">
        <div class="col-xs-8 col-md-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['']">Ji Naul Exam Online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gioithieu']">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lienhe']">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gopy']">Góp ý</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/hoidap']">Hỏi đáp</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="input-group search">
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Tìm đề thi...">
                <div class="input-group-append">
                    <span class="input-group-text"><i class='fas fa-search'></i></span>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2">

        </div>
        <div class="col-xs-2 col-md-1">
            <div class="dropdown dropleft user">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tài khoản
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/taikhoan']">Cập nhật tài khoản</a>
                    <a class="dropdown-item" [routerLink]="['/doimatkhau']">Quên mật khẩu</a>
                    <a class="dropdown-item" [routerLink]="['/dangnhap']" (click) = 'dangxuat()'>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
<div class="contrainer">
    <div class="card border-success myCard">
        <div class="card-header bg-transparent border-success">
            Thời gian làm bài: 
        </div>
        <div class="card-body text-success myCardBody" *ngFor="let i of Quiz | paginate: {itemsPerPage: pagesize, currentPage: pagecurrent}">
            <p>Câu {{pagecurrent}}: {{i.Text}}</p>
            <div class="form-check" *ngFor = 'let j of i.Answers'>
                <input class="form-check-input" type="radio" name={{i.Id}} value={{j.Id}} [(ngModel)]="task.Ans[pagecurrent -1]" [ngModelOptions]="{standalone: true}" disabled>
                <label class="form-check-label" for="exampleRadios1">
                    {{j.Text}}
                </label>
            </div>
        </div>
        <div class="card-footer bg-transparent border-success text-center">
            <div class="bottom">
                <i class='far fa-hand-point-up' style="font-size: 150%" (click) = 'home()' *ngIf = "showfirth"></i>
                <i class='far fa-hand-point-right' style="font-size: 150%" (click) = 'next()' *ngIf = "showend"></i>
                <i class='far fa-hand-point-down' style="font-size: 150%" (click) = 'end()' *ngIf = "showlast"></i>
                <i class='far fa-hand-point-left' style="font-size: 150%" (click) = 'previrous()' *ngIf = "showbegin"></i>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" *ngIf = 'showfinish' [routerLink]="['/taikhoan']">
                    Quay lại
                </button>
            </div>
        </div> 
    </div>
</div>
